* {
    margin: 0;
    padding: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    color: black;
    background-color: white;
    padding: 0 20px;
    height: 60px;
}

.logo img{
    width: 170px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.nav-links a:hover{
    color: rgb(179, 134, 38);
    text-decoration: underline;
    font-size: 20px;
}
.hero{
    display: flex;
    height: 70vh;
    background : 
    linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(images/restaurante.jpg) center/cover no-repeat;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    justify-content: center;
    text-align: center;
      text-align: center;
    justify-content: center;
    align-items: center;
}
.hero-content button{
    border-radius: 5px;
     background-color: #e9bd34;
     box-shadow: 5px 5px 10px;
     width: 170px;
    border: none;
    font-size: 16px;
    padding: 8px 0;
    font-weight: bold;
}
.producto-destacado1{
    display: flex;
    padding: 40px;
    gap: 40px;
    background-color:#e9bd34;
}
.producto-img img{
    width: 400px;
    border-radius: 10px;
}

.producto-contenido{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.producto-contenido h2{
    color: black;
    box-shadow: 5px 5px 10px;
}
.producto-contenido a{
    padding: 10px;
}
.producto-destacado2{
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
    background-color :#e9bd34;
}
.producto-img2 img{
     width: 400px;
    border-radius: 10px;
}
.producto-contenido2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conclusion{
    background-color: #e9bd34;
}
.conclusion a{
    margin: 15px;
}
